.brand-logo__img {
    display: block;
    height: 100px;
    width: auto;
}

.brand-logo__img--dark {
    display: none;
}

html[data-theme='dark'] .brand-logo__img--light {
    display: none;
}

html[data-theme='dark'] .brand-logo__img--dark {
    display: block;
}

.brand-icon--dark {
  display: none;
}

html[data-theme='dark'] .brand-icon--light {
    display: none;
}

html[data-theme='dark'] .brand-icon--dark {
    display: block;
}