@use '@/styles/scss/variables' as *;

#payload-admin-bar {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 0.2rem 0.75rem;
    background-color: $secondary;
    opacity: 0.9;
    border-bottom: 1px solid gray;
    color: $text;
    font-size: 1rem;
    z-index:1000;

    > * {
        grid-row: 1;
    }
}

.admin-bar__logo {
    grid-column: 1;
}

.adminbar__logout {
    grid-column: 3;
    justify-self: end;
}

.adminbar__user {
    grid-column: 2;
    justify-self: center;
    pointer-events: none;
}
