@use '@/styles/scss/mixins' as *;

#cours {

    .courses-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        margin: 1.5rem auto 0 auto;

        @include sm {
            grid-template-columns: repeat(8, 1fr);
        }

        @include xl {
            grid-template-columns: repeat(12, 1fr);
            gap: 2rem;
        }

        .adultCourse,
        .childrenCourse {
            grid-column: span 4;
        }

        .infoMessage {
            grid-column: span 4;

            @include sm {
                grid-column: span 8;
            }

            @include xl {
                grid-column: span 12;
            }
        }
    }
}
