@use '@/styles/scss/mixins' as *;

#worshops {
    .worshops-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        margin: 1.5rem 0;

        @include lg {
            grid-template-columns: repeat(8, 1fr);
        }

        .workshop {
            grid-column: span 4;
        }
    }
}
