//@use '@/styles/buttons' as *;
@use '@/styles/scss/variables' as *;
@use '@/styles/scss/buttons' as *;

.home-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    position: relative;
    background: radial-gradient(
        ellipse at center,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 37%,
        rgba(0, 0, 0, 0.65) 100%
    );

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: -1;

        img {
            object-position: center;
            object-fit: cover;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        z-index: 1;

        h1 {
            backdrop-filter: blur(10px);
            line-height: 1.2;
            padding: 1rem;
            border-radius: 10px;
            color: $background;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        }

    }
            &__tagline {
            backdrop-filter: blur(10px);
            line-height: 1.2;
            padding: 1rem;
            border-radius: 10px;
            color: $background;
            margin-bottom: 5vh;
            font-size: clamp(1.5rem, 1.2rem + 1.2vw, 2.25rem);
;
        }

    &__cta {
        display: flex;
        gap: 2rem;
    }
}
