.info-message {
  padding: 1rem;
  border-radius: 8px;
  margin: 1.5rem 0;

  &--success {
    background-color: #e5ffe5;
    border: 1px solid #00ff00;
  }

  &--info {
    background-color: #e5e5ff;
    border: 1px solid #0000ff;
  }

  &--warning {
    background-color: #ffffe5;
    border: 1px solid #ffff00;
  }

  &--danger {
    background-color: #ffe5e5;
    border: 1px solid #ff0000;
  }
}