@use '@/styles/scss/variables' as *;

.info-message {
  padding: 1rem;
  border-radius: 8px;
  margin: 1.5rem 0;

  &--success {
    background-color: #e5ffe5;
    border: 1px solid #00ff00;
  }

  &--info {
    background-color: $card;
    border: 1px solid $border;
  }

  &--warning {
    background-color: $card;
    border: 1px solid $border;
  }

  &--danger {
    background-color: #ffe5e5;
    border: 1px solid #ff0000;
  }
}