@use '@/styles/scss/variables' as *;
@use '@/styles/scss/mixins' as *;

.info-message {
    padding: 1rem;
    border-radius: 8px;
    margin: 1.5rem 0;

    &--success {
        background-color: oklch(95.79% 0.020 40.54);
        border: 1px solid $secondary;
    }

    &--info {
        background-color: $card;
        border: 1px solid $border;
    }

    &--warning {
        background-color: oklch(95.44% 0.012 264.51);
        border: 1px solid $accent;
    }

    &--danger {
        background-color: #ffe5e5;
        border: 1px solid #ff0000;
    }
}
