@use '@/styles/scss/variables' as *;
@use '@/styles/scss/mixins' as *;

.adult-course {
    @include card;
    height: 100%;

    &__header {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        line-height: 1.4;
        h3 {
            font-family: var(--font-fraunces);
        }
    }

    &__place {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 0.5rem;
        align-items: flex-end;
        line-height: 1.25;
        margin-top: auto;
        a {
            font-size: 1rem;
            opacity: 0.6;
            text-align: end;
        }
    }
}
