@use '@/styles/scss/variables' as *;

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 100;
    display: flex;
    background-color: $text;
    color: $background;

    &.scrolled {
        background-color: rgba(62, 29, 64, 0.85);
        backdrop-filter: blur(5px);
        border-bottom: 1px solid rgba(249, 240, 233, 0.18);
    }

    nav li {
        background-color: $accent;
        border-radius: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 200ms ease-in-out;

        a {
            padding-inline: clamp(0.5rem, 3.1vw - 1rem, 1rem);
            padding-block: 0.2rem;
            text-transform: uppercase;
            color: $text;
        }

        &:hover {
            background-color: $secondary;
        }
    }

    .active {
        background-color: $secondary;
    }
}
