@use '@/styles/scss/variables' as *;
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $text;
    color: $background;

    nav {
        .logo-container {
            position: absolute;
            top: 0;
            left: 0;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

header.scrolled {
    background-color: rgba(62, 29, 64, 0.85);
    backdrop-filter: blur(5px);
    border-bottom: 1px solid rgba(249, 240, 233, 0.18);
}
