@use '@/styles/scss/variables' as *;
@use '@/styles/scss/mixins' as *;
@use '@/styles/scss/buttons' as *;

.workshop-card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: $card;
    border: 1px solid $border;
    line-height: 1.4;
    height: 100%;

    @include sm {
        flex-direction: row;
    }

    &__image {
        height: 200px;
        background-color: $border;
        position: relative;
        flex-shrink: 0;
        &.default {
            display: flex;
            justify-content: center;
            align-items: center;
            p {
                z-index: 0;
            }
            img {
                z-index: 1;
            }
            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background-color: hsla(0, 0%, 50%, 0.5);
                z-index:2;
            }
        }
        img {
            object-fit: cover;
        }

        @include sm {
            width: 50%;
            height: 100%;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        gap: 0.5rem;
        position: relative;
        height: 100%;
        width: 100%;
        h3 {
            font-family: var(--font-fraunces);
        }
        .place {
            line-height: 1.2;
            a {
                font-size: 1rem;
                opacity: 0.6;
            }
        }
    }

    &__info {
        margin-top: auto;
    }
}

.workshop-modal {
    gap: 1rem;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: $card;
    border: 1px solid $border;
    line-height: 1.4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &::backdrop {
        background-color: rgba(0, 0, 0, 0.5);
    }

    button {
        position: absolute;
        top: 5px;
        right: 5px;
    }
}
