@use '@/styles/scss/variables' as *;
@use '@/styles/scss/buttons' as *;
@use '@/styles/scss/mixins' as *;

.contact-form {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: $primary;
    padding: 1rem;
    border-radius: 10px;
    width: 90vw;
    max-width: 900px;

    input,
    textarea {
        padding: 0.2rem;
        border-radius: 5px;
        background-color: $background;
        margin-bottom: 0.2rem;
        outline: none;
        border: 1px solid transparent;
        &:focus {
            border: 1px solid $secondary;
            background-color: oklch(91.63% 0.042 42.07);
        }
    }

    textarea {
        resize: vertical;
        overflow: auto;
        min-height: 150px;
    }

    &__field {
        display: flex;
        flex-direction: column;
        color: $background;
    }

    &__checkbox-container {
        .field-inline {
            display: flex;
            gap: 0.5rem;

            label {
                color: $background;
                line-height: 1.25;
                align-self: center;
            }
        }
    }

    .error-message {
        padding: 0.2rem;
        margin-top: 0.2rem;
        border-radius: 5px;
        border: 1px solid #fd0d0d;
        font-size: 1rem;
        background-color: #ffd6d6;
        color: $text;
    }

    button[type='submit'] {
        align-self: center;
        position: relative;

        &:disabled {
            cursor: not-allowed;
            opacity: 0.6;
            &:hover {
                transform: none;
                box-shadow: none;
            }
        }

        .btn__loader {
            display: none;
            opacity: 0;
        }

        &.is-loading .btn__text {
            opacity: 0;
        }

        &.is-loading .btn__loader {
            position: absolute;
            inset: 0;
            display: grid;
            place-items: center;
            opacity: 1;
        }

        svg {
            animation: spin 1s linear infinite;
        }
    }

    input[type='checkbox'] {
        appearance: none;
        width: 20px;
        height: 20px;
        flex-shrink: 0;
        border: 2px solid transparent;

        &:checked {
            background-color: $secondary;
            border: 2px solid $background;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                top: 2px;
                left: 6px;
                width: 5px;
                height: 10px;
                border: solid $text;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
            }
        }
    }

    a {
        text-decoration: dotted underline;
        text-underline-offset: 3px;
        text-decoration-thickness: 1px;
        transition: all 0.2s ease-in-out;
        &:hover {
            color: $secondary;
            text-decoration: underline;
        }

        &:focus-visible {
            outline: 2px solid $secondary;
            outline-offset: 3px;
            border-radius: 6px;
        }
    }
}

.contact-dialog {
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: $card;
    border: 1px solid $border;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    max-width: 90vw;
    padding: calc(1rem + 30px) 1.5rem 1.5rem 1.5rem;
    background-color: $primary;
    color: $background;

    &::backdrop {
        background-color: rgba(0, 0, 0, 0.5);
    }

    button {
        background-color: transparent;
        position: absolute;
        top: 5px;
        right: 5px;
    }
}
