@use '@/styles/scss/variables' as *;

#legal-page {
    ul {
        list-style-type: square;
        padding-left: 1.5rem;
    }

    .important {
        padding: 1rem;
        border-radius: 8px;
        margin: 1.5rem 0;
        background-color: $card;
        border: 1px solid $border;
    }
}
