@use '@/styles/scss/mixins' as *;
@use '@/styles/scss/variables' as *;

nav.nav-mobile {
    @include md {
        display: none;
    }
}

.nav-mobile {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .logo-container {
        z-index: 101;
    }
    
    .hamburger-react {
        z-index: 101;
    }
    &__container {
        position: fixed;
        inset: 0; // top/left/right/bottom = 0
        width: 100%;
        height: 100vh; // fallback
        height: 100dvh;
        z-index: 100;
        overscroll-behavior: contain;
        pointer-events: auto;
        background-color: $text;

        ul {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1.5rem;
        }
    }
}
