@use '@/styles/scss/mixins' as *;

#home {
    .btn {
        display: block;
        margin: 1rem 0 0.5rem 0;
    }
    .content-with-image {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;

        .image-container {
            position: relative;
            min-height: clamp(13.75rem, 12.727rem + 2.841vw, 15rem);
            height: 100%;
            overflow: hidden;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            img {
                object-fit: cover;
                &.bottom {
                    object-position: bottom center;
                }
            }
        }
    }

    .content-with-image.right {
        margin-top: 1rem;
    }

    @include md {
        .content-with-image.right {
            grid-template-columns: 1fr 2fr;
        }
        .content-with-image.left {
            grid-template-columns: 2fr 1fr;
        }
    }

    .reviews {
        display: grid;
        max-width: 100%;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        margin: 1rem 0;
        @include md {
            grid-template-columns: repeat(2, 1fr);
        }
        @include lg {
            grid-template-columns: repeat(3, 1fr);
        }
        @include xl {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}
