@use '@/styles/scss/variables' as *;
@use '@/styles/scss/mixins' as *;

nav.nav-desktop {
    display: none;

    @include md {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-end;
        padding-right: 1rem;
    }

    @include lg {
        padding-right: 0;
        justify-content: center;
    }

    .logo-container {
        position: absolute;
        top: 0;
        left: 0;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    ul {
        display: flex;
        justify-self: center;
        align-items: center;
        list-style-type: none;
        gap: clamp(1rem, 6.3vw - 2rem, 2rem);
    }
}
