@use '@/styles/scss/variables' as *;

.nav-desktop {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: clamp(1rem, 6.3vw - 2rem, 2rem);

    li {
        background-color: $accent;
        border-radius: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 200ms ease-in-out;

        a {
            padding-inline: clamp(0.5rem, 3.1vw - 1rem, 1rem);;
            padding-block: 0.2rem;
            text-transform: uppercase;
            color: $text;
        }

        &:hover {
            background-color: $secondary;
        }
    }

    .active {
        background-color: $secondary;
    }
}
