@use './variables' as *;

@mixin xs {
    @media (min-width: $breakpoint-xs) {
        @content;
    }
}

@mixin sm {
    @media (min-width: $breakpoint-sm) {
        @content;
    }
}

@mixin md {
    @media (min-width: $breakpoint-md) {
        @content;
    }
}

@mixin lg {
    @media (min-width: $breakpoint-lg) {
        @content;
    }
}

@mixin lg2 {
    @media (min-width: $breakpoint-lg2) {
        @content;
    }
}

@mixin xl {
    @media (min-width: $breakpoint-xl) {
        @content;
    }
}

@mixin card {
        display: flex;
    flex-direction: column;
    background-color: $card;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid $border;
    gap: 1rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
