@use './variables' as *;

@mixin xs {
    @media (min-width: $breakpoint-xs) {
        @content;
    }
}

@mixin sm {
    @media (min-width: $breakpoint-sm) {
        @content;
    }
}

@mixin md {
    @media (min-width: $breakpoint-md) {
        @content;
    }
}

@mixin lg {
    @media (min-width: $breakpoint-lg) {
        @content;
    }
}

@mixin lg2 {
    @media (min-width: $breakpoint-lg2) {
        @content;
    }
}

@mixin xl {
    @media (min-width: $breakpoint-xl) {
        @content;
    }
}

@mixin card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 10px;
    gap: 1rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: $card;
    border: 1px solid $border;
    height: 100%;
}

@mixin link {
    color: oklch(53.94% 0.137 262.68);
    text-decoration: dotted underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1.5px;
    font-weight: 500;
    transition: all 0.2s ease-in-out;

    &:hover {
        color: $primary;
        text-decoration: underline;
    }

    &:focus-visible {
        outline: 2px solid $primary;
        outline-offset: 3px;
        border-radius: 6px;
    }
}
