$text: oklch(29.25% 0.075 325.13); // text-secondary
$background: oklch(96.02% 0.013 60.57); // text-primary
$primary: oklch(35.21% 0.094 325.70);
$secondary: oklch(80.68% 0.104 40.48);
$accent: oklch(72.49% 0.077 264.28);

$border:  oklch(89.55% 0.0214 355.27);
$card: oklch(1 0 0);

$breakpoint-xs: 375px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-lg2: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-xl2: 1536px;
$breakpoint-xl3: 1920px;
